
@model IEnumerable<Food_Delivery.Models.DeliveryPerson>
@{
    ViewData["Title"] = "DeliveryPersonView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="height:60px">Delivery Person Detail</h2>

<body>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alret alert-success">
            <strong>Success !</strong>  @TempData["AlertMessage"]
        </div>
    }

    <div class="btn btn-Primary mb-3 " style="margin-left:93%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
        </svg>  @Html.ActionLink("Add", "Add")
    </div>

    <table class="table" id="dataTable">
        <thead>
            <tr >
                <th id="t" data-visible="false"> DeliveryPersonId </th>
                <th id="t">DeliveryPersonName </th>
                <th id="t" > Contact Number </th>
                <th id="t">Vechile No</th>
                <th id="t">Gender</th>
                <th data-orderable="false" id="t" >  Action </th>
            </tr>
        </thead>

        <tbody id="t1">
            @foreach (var item in Model)
            {
                <tr id="t1">
                    <td>@item.DeliveryPersonId  </td>
                    <td> <a class="nav-link" asp-area="" asp-controller="DeliveryMvc" asp-action="GetDeliveryPersonByIdInvoice" asp-route-id="@item.DeliveryPersonId"> <span class=tooltiptext>Delivery Status</span>  @item.DeliveryPersonName</a>  </td>
                    <td>@item.ContactNumber  </td>
                    <td>@item.VechileNo</td>
                    <td>@item.Gender</td>
                    <td id="t1">
                        <a class="btn  text-white" href="/DeliveryMvc/Edit?DeliveryPersonId=+ @item.DeliveryPersonId">
                            <span class=tooltiptext>Edit</span>
                            <i id="icon3"  class="fa">&#xf044;</i>
                        </a>
                        <a class="btn text-white" href="/DeliveryMvc/DeleteDeliveryPerson?DeliveryPersonId=+ @item.DeliveryPersonId" >
                            <span class=tooltiptext>Delete</span>
                            <i id="icon2" class='fas'>&#xf2ed;</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>

</body>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="~/css/jquerytable.css" asp-append-version="true" />
@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/customer.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
    <link href="~/css/css style/deliverypersonview.css" rel="stylesheet" />
}





