@using Food_Delivery.Models
@model List<InvoiceDetail>

<h2 style="height:60px">Your Order Detail</h2>

<body>
 

    <table class="table" id="dataTable">
        <thead style="text-align:center ;background-color:khaki;">
            <tr>
                <th style="text-align:center">Order date </th>
                <th style="text-align:center">Hotel Name</th>
                <th style="text-align:center">  Food Name </th>
                <th style="text-align:center">  Quantity </th>
                <th style="text-align:center">  Price </th>
                <th style="text-align:center">  Total Price </th>
                <th style="text-align:center">  Order Status </th>
            </tr>
        </thead>


        <tbody style="text-align:center">
            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>@item.Orderdate  </td>
                    <td>@item.HotelName</td>
                    <td>@item.FoodName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.OrderStatus</td>
                </tr>
            }
        </tbody>



        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>

</body>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/customer.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
    <script src="~/js/customer.js"></script>
}




    <style>
        a {
            text-decoration: none;
        }
    </style>
