@using Food_Delivery.Models
@model List<InvoiceDetail>

<h2>Your Order Detail</h2>

<body>
 

    <table class="table" id="dataTable">
        <thead id="tablehead";>
            <tr>
                <th id="text" style="text-align:center">Order date </th>
                <th id="text">Hotel Name</th>
                <th id="text">  Food Name </th>
                <th id="text">  Quantity </th>
                <th id="text">  Price </th>
                <th id="text">  Total Price </th>
                <th id="text">  Order Status </th>
            </tr>
        </thead>


        <tbody id="text">
            @foreach (var item in Model)
            {
                <tr id="text">
                    <td>@item.Orderdate  </td>
                    <td>@item.HotelName</td>
                    <td>@item.FoodName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.OrderStatus</td>
                </tr>
            }
        </tbody>



        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>

</body>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/customer.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        })
    </script>
    <link href="~/css/css style/getshipmentbyuser.css" rel="stylesheet" />
}



