@*@model List<LFoodDetail>
@{
}*@
@*<body style=" color:black; width:100%;">
   
        <div class=" btn btn-warning " id="heading">
        @Html.ActionLink("Add Food","AddFood")
        </div>
   
    <h2 style="color:black">  Food Details </h2>
    <style>
        table, th, td {
            text-align: center;
        }
    </style>
    <table class="table" id="dataTable">
        <thead style="background-color:khaki ;">
            <tr>
               <th>HotelId</th>
                <th>Food Id</th>
                <th>Food Name</th>
                <th>Price</th>
                <th data-orderable="false">Action</th>
            </tr>
        </thead>
        <tbody>
             
            @foreach (LFoodDetail item in Model)
            {
                <tr>
                 <td>@item.HotelId</td>
                   <td>@item.FoodId</td>
                    <td>@item.FoodName</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="/HotelMvc/Edit?HotelId=@item.HotelId" style="margin-left:30px" class=" btn btn-primary">Edit</a>
                        <a onclick="deleteFood(@item.FoodId)" style="margin-left:30px" class=" btn btn-danger">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
        <tfoot> 
            <tr>
            </tr>
        </tfoot>
    </table>

</body>

<script>
    function deleteFood(FoodId) {
        let result = confirm("Are you sure you want to delete?");
        if (result) {
            $.ajax({
                type: "get",
                url: '/HotelMvc/DeleteFood?FoodId=' + FoodId,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    if (response.success == true) {

                        location.reload();
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
    }
</script>
*@