@using Food_Delivery.Models
@model Customer
<section class="h-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6">
                            @using (Html.BeginForm("Create", "CustomerMvc", FormMethod.Post))
                              {
                            <div align="center" class="card-body p-md-5 text-black">
                                    @if (TempData["AlertMessage"] != null)
                                    {

                                        <div class="alret alert-danger">
                                            <strong>Warning !</strong>  @TempData["AlertMessage"]
                                        </div>

                                    }
                                <h3 class="mb-5 ">Customer Registration</h3>
                                <div>
                                    <div align="center" class="col-md-12">
                                          
                                        <div class=" row m-5">
                                            <div class="col-md-6"> Name</div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model=>model.Name , new { @class="form-control", required = "required" , maxlength = "20"} )
                                            </div>

                                        </div>


                                        <div class=" row m-5">
                                            <div class="col-md-6">Contact Number<span id="mandatory"> * </span></div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model=>model.ContactNumber , new { @class="form-control", required = "required" , maxlength = "20"} )
                                            </div>

                                        </div>

                                        <div class=" row m-5">
                                            <div class="col-md-6">Gender </div>
                                            <div class="col-md-6">
                                                <label for="gender">Male</label>
                                                @Html.RadioButtonFor(m=>m.Gender ,"Male")
                                                <label for="gender">Female</label>
                                                @Html.RadioButtonFor(m=>m.Gender ,"Female")
                                            </div>

                                        </div>

                                        <div class=" row m-5">
                                            <div class="col-md-6">E Mail<span id="mandatory"> * </span></div>
                                            <div class="col-md-6">
                                                @Html.TextBoxFor(model=>model.Email , new { @class="form-control", required = "required" , maxlength = "20"} )
                                            </div>

                                        </div>

                                      

                                            <div class=" row m-5">
                                                <div class="col-md-6">Location<span  id="mandatory"> * </span></div>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(model=>model.Address , new { @class="form-control", required = "required" , maxlength = "20"} )
                                                </div>

                                            </div>


                                        <div class=" justify-content-center mt-5 col-md-6 offset-3">  <input type="submit" class="btn btn-danger" value="Register" /></div>


                            </div>
                        </div>
                    </div>
                    }
                </div>
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/css/CreateCustomer-image.png"
                                 alt="Sample photo" class="img-fluid"
                                 id="image"
                                 />
                        </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <link href="~/css/css style/createcustomer.css" rel="stylesheet" />
}