@using Food_Delivery.Models
@model Customer
@{
    ViewData["Title"] = "Admin";

}

<div class="card-body " id="card" style=" margin-top:8%; background-color:white; margin-left: 30%;margin-right: 30%; color: black;">

      @using(Html.BeginForm(FormMethod.Post))
    {
        <div class="row col-md-10 offset-2 mt-5 ">
            <div class="col-md-6">CustomerId</div>
            <div class="col-md-6"> @Model.CustomerId</div>
        </div>


        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Customer Name</div>
            <div class="col-md-6">@Model.Name</div>
        </div>


        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Mobile</div>
            <div class="col-md-6">@Model.ContactNumber</div>
        </div>
        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Email</div>
            <div class="col-md-6">@Model.Email</div>
        </div>

     


        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Gender</div>
            <div class="col-md-6">@Model.Gender</div>
        </div>
        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Address</div>
            <div class="col-md-6">  <td>@Model.Address</td> </div>
        </div>


        <div class="row col-md-10 offset-2  mt-2">
            <div class="col-md-6">Email</div>
            <div class="col-md-6">@Model.Email</div>
        </div>


        <div class="row col-md-2 offset-7 mt-5">
            <a class="btn btn-primary text-white" href="/CustomerMvc/UpdateCustomer?CustomerId=@Model.CustomerId">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>  Edit
            </a>
        </div>




        }
</div>
