@model Food_Delivery.Models.FoodDto


<section class="h-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6">
                            
        @using (Html.BeginForm("AddFood", "FoodMvc", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        
       
       <div >
         <div align="center" class="col-md-12"  > 

                                        <div class=" row m-5">

                                            <div class="col-md-6">Hotel Name<span id="mandatory"> * </span></div>

                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model=>model.HotelId ,Model.hotelname,new { @class="form-control"})
                                            </div>

                                        </div> 

               <div class=" row m-5">
                        <div class="col-md-6">Food Name<span id="mandatory"> * </span></div>
                        <div class="col-md-6" >
                            @Html.TextBoxFor(model=>model.FoodName , new { @class="form-control", required = "required" , maxlength = "20"} )
                        </div> 
                    
               </div>


                                        <div class=" row m-5">
                                            <div class="col-md-6">Food Type </div>
                                            <div class="col-md-6">
                                                <label for="type">Veg</label>
                                                @Html.RadioButtonFor(m=>m.Type ,"Veg")
                                                <label for="type">Non-Veg</label>
                                                @Html.RadioButtonFor(m=>m.Type ,"Non-Veg")
                                            </div>

                                        </div>


                
                <div class=" row m-5">
                    <div class="col-md-6">Price<span id="mandatory"> * </span></div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(model=>model.Price , new { @class="form-control", required = "required" , maxlength = "20"} )
                    </div>


                </div>

                

                       
                
                <div class="form-group">
                
                    <div class="col-md-10 offset-2">
                            <input type="file" name="CoverPhoto" required>
                    </div>
                </div>
                    

               
              <div class=" justify-content-center mt-5 col-md-6 offset-3">  <input type="submit"  class="btn btn-danger" value="Submit" /></div>
  
              
       </div>

       </div>
    }



                        </div>
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/css/MicrosoftTeams-image (10).png"
                                 alt="Sample photo" class="img-fluid"
                                 id="foodimage"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="~/css/css style/foodstyle.css" rel="stylesheet" />